<div class="overlay-container">
  <div class="overlay-header">
    <h2 class="overlay-title">Welcome to the Cricket Team Selection Panel!</h2>
    <button class="btn-close" (click)="closeModal()">×</button>
  </div>
  <div class="overlay-content">
    <p class="text-gray-600 leading-relaxed">
      As the coach, your goal is to select the best players for the World Cup.
      You will see a list of available players along with their roles in the team,
      as well as their batting and bowling skills. Use this information to make your selections. <br/> <br />
      Click <span class="font-semibold text-green-600">"Select"</span> to add a player to your team or
      <span class="font-semibold text-red-600">"Remove"</span> to deselect them if needed.
    </p>
  </div>
</div>
