@use "tailwindcss";
@use "@angular/cdk/overlay-prebuilt.css";
@use "ngx-toastr/toastr";

@use "global-styles";

html, body { height: 100%; }

body { 
  margin: 0; 
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
