<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Batting</th>
      <th>Bowling</th>
      <th>Fielding</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (player of players(); track player.name) {
      <tr [attr.data-testid]="'selected-' + player.name + '-row'">
        <td>{{ player.name }}</td>
        <td>{{ player.type }}</td>
        <td>{{ player.battingSkill }}</td>
        <td>{{ player.bowlingSkill }}</td>
        <td>{{ player.fieldingSkill }}</td>
        <td>
          <button 
            [attr.data-testid]="'selected-' + player.name + '-remove'"
            (click)="onRemovePlayer(player)"
            >
            Remove
          </button>
        </td>
      </tr>
    } @empty {
      There are no items.
    }
  </tbody>
</table>
